.home {
  color: white;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: -2px;
  font-size: 2em;
  text-align: right;
  position: fixed;
  top: 40px;
  right: 150px;
}
.main {
  margin-top: 11em;
}
.danger {
  color: #ea0f1e;
  font-family: inherit;
  font-weight: bold;
  text-align: right;
  padding-top: 0.5em;
}
.divInput {
  display: flex;
  flex-direction: column;
  width: 26%;
  margin: auto;
  padding-bottom: 1em;
}
.input {
  color: #282728;
  font-weight: bold;
  border-radius: 10px;
  padding-left: 10px;
  height: 2em;
  border: none;
}
.input:focus {
  outline: none;
}
.input::placeholder {
  color: rgb(4, 4, 4);
  font-family: inherit;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.1em;
}
.texta {
  color: #282728;
  font-weight: bold;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 10px;
  border: none;
}
.texta:focus {
  outline: none;
}
.texta::placeholder {
  color: rgb(4, 4, 4);
  font-family: inherit;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.1em;
}
.boton {
  cursor: pointer;
  color: #ea0f1e;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 1em;
  background-color: black;
  border: none;
  border-bottom: 0.1px solid #ea0f1e;
}
.boton:hover {
  border-bottom-width: 2px;
}

@media screen and (min-width: 300px) and (max-width: 399px) {
  .home {
    position: absolute;
    top: 20px;
    right: 50px;
  }
  .main{
    margin-top: 8em;
  }
  .divInput {
    width: 80%;
  }
  .boton {
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 400px) and (max-width: 450px) {
  .home {
    position: absolute;
    top: 50px;
    right: 50px;
  }
  .divInput {
    width: 80%;
  }
  
}

@media screen and (min-width: 700px) and (max-width: 840px) {
  .divInput {
    width: 60%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1030px) {
  .divInput {
    width: 60%;
  }
}
