/*-- CSS RESET--*/

/* Set core body defaults */
body {
  background-color: black;
}

/*--CSS RESET END--*/

.main {
  padding: 0;
  margin: 0;
}

.decoration {
  text-decoration: none;
}

#white {
  color: white;
  width: 50%;
  height: 50px;
  margin: auto;
  margin-top: 8em;
  margin-left: 16em;
  padding-bottom: 2em;
  transition: all;
  animation: mover 1s;
}

@keyframes mover {
  0% {
    margin-top: 10em;
  }
  100% {
    margin-top: 8em;
  }
}

#white h1 {
  font-family: inherit;
  letter-spacing: -2px;
  font-size: 8em;
  text-align: left;
  transition: all 1s;
}
.segundoTitWhite {
  color: white;
}
#white h1:hover {
  transition: all 1s;
  margin-left: 0.2em;
}

.segundoTit {
  color: #ea0f1e;
}

.text {
  color: #ea0f1e;
  width: 500px;
  margin-left: 16em;
  margin-bottom: -4em;
}

.text h1 {
  font-family: inherit;
  line-height: 110%;
  letter-spacing: -2px;
  font-size: 8em;
  text-align: left;
  transition: all 1s;
}

.text h1:hover {
  transition: all 1s;
  margin-left: 0.2em;
}

